body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 120%;
	--lighterColor: #e5effa;
	--lightColor: #508fdc;
	--color: #2975d1;
	--darkColor: #18457b;
	color: var(--darkColor);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

ul {
	margin: 0;
	padding: 0;
}

button.simple {
	background: none;
	border: 2px solid var(--color);
	padding: 0rem 0.6rem;
	font-size: 100%;
	font-weight: normal;
	color: var(--color);
	text-transform: none;
}
button {
	cursor: pointer;
	background: var(--color);
	border: none;
	padding: 0.3rem 1rem;
	font-size: 120%;
	color: var(--lighterColor);
	text-transform: uppercase;
}
